/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #5851ea;
    /* Brand dark color */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #635bff;
    /* Brand primary color */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #5851ea transparent;
}